# General
__pycache__/
__pypackages__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Tests
htmlcov/
.coverage

# Additional folders
notes/