{% extends 'base.html' %}

{% block header %}

<header class="py-5">
  <div class="container px-5">

      <!-- General Chats -->
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-12 align-middle">
          <div class="text-left my-3">
            <h3 class="display-7 fw-bolder text-dark mb-4">General chats</h3>
          </div>
        </div>
      </div>
    
      <!-- General Chats Cards -->
      <div class="row gx-4 px-0 mb-3 justify-content-center">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-general-chat-header bg-gradient">General Chat</div>
            <div class="card-body bg-general-chat-body bg-gradient">
              <h5 class="card-title">Beginner Chat</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-general-chat-header bg-gradient">General Chat</div>
            <div class="card-body bg-general-chat-body bg-gradient">
              <h5 class="card-title">Intermediate Chat</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-general-chat-header bg-gradient">General Chat</div>
            <div class="card-body bg-general-chat-body bg-gradient">
              <h5 class="card-title">Advanced Chat</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Situation Chats -->
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-12 align-middle">
          <div class="text-left my-3">
            <h3 class="display-7 fw-bolder text-dark mb-4">Situations</h3>
          </div>
        </div>
      </div>

      <!-- Situation Chats Cards -->
      <div class="row gx-4 px-0 mb-3 justify-content-center">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-situation-header bg-gradient">Situation</div>
            <div class="card-body bg-situation-body bg-gradient">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-situation-header bg-gradient">Situation</div>
            <div class="card-body bg-situation-body bg-gradient">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-situation-header bg-gradient">Situation</div>
            <div class="card-body bg-situation-body bg-gradient">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row gx-4 px-0 mb-3 justify-content-left">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-situation-header bg-gradient">Situation</div>
            <div class="card-body bg-situation-body bg-gradient">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-situation-header bg-gradient">Situation</div>
            <div class="card-body bg-situation-body bg-gradient">
              <h5 class="card-title">Restaurant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Persona Chats -->
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-12 align-middle">
          <div class="text-left my-3">
            <h3 class="display-7 fw-bolder text-dark mb-4">Personas</h3>
            <p class="lead text-dark mb-4">Your chance to chat with a famous person.</p>
          </div>
        </div>
      </div>
      <!-- Persona Chats Cards -->
      <div class="row gx-4 px-0 mb-3 justify-content-left">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-persona-header bg-gradient">Persona</div>
            <div class="card-body bg-persona-body bg-gradient">
              <h5 class="card-title">Shakespeare</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="card text-dark mb-3" style="max-width: 18rem;">
            <div class="card-header text-white bg-persona-header bg-gradient">Persona</div>
            <div class="card-body bg-persona-body bg-gradient">
              <h5 class="card-title">Shakespeare</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</header>



{% endblock %}