html {
  font-family: sans-serif;
  background: #fff;
  /* padding: 1rem; */
}

/* body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
} */

:root {
  --blue-rgb: 34, 124, 157;
  --teal-rgb: 23, 195, 178;
  --yellow-rgb: 255, 203, 119;
  --cream-rgb: 254, 249, 239;
  --red-rgb: 254, 109, 115;

  --bg-card-header-opacity: 0.75;
  --bg-card-body-opacity: 0.1;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(var(--blue-rgb)) !important;
  /* box-shadow: 0 0 0 0.25rem rgb(var(--blue-rgb)) !important; */
  border-color: rgb(var(--blue-rgb)) !important;
}

.bg-general-chat-header {
  background-color: rgba(
    var(--blue-rgb),
    var(--bg-card-header-opacity)
  ) !important;
}

.bg-general-chat-body {
  background-color: rgba(
    var(--blue-rgb),
    var(--bg-card-body-opacity)
  ) !important;
}

.bg-scenario-header {
  background-color: rgba(
    var(--red-rgb),
    var(--bg-card-header-opacity)
  ) !important;
}

.bg-scenario-body {
  background-color: rgba(
    var(--red-rgb),
    var(--bg-card-body-opacity)
  ) !important;
}

.bg-persona-header {
  background-color: rgba(
    var(--yellow-rgb),
    var(--bg-card-header-opacity)
  ) !important;
}

.bg-persona-body {
  background-color: rgba(
    var(--yellow-rgb),
    var(--bg-card-body-opacity)
  ) !important;
}

/* Chat */

chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
