<!doctype html>
<html lang="en">
  <title>{% block title %}{% endblock %}Nova AI</title>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='bootstrap_template_styles.css') }}" rel="stylesheet" />

    <!-- Plotly js -->
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>

    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container px-5">
          <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') if g.user else url_for('index') }}">Nova AI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-lg-flex align-items-center text-center ms-auto mb-2 mb-lg-0">
                  <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li> -->
                  {% if g.user %}
                    <li class="nav-item h-100"><a class="nav-link" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('chat.overview') }}">Chat</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.statistics') }}">Statistics</a></li>

                    <!-- <li class="nav-item"><span class="nav-link">{{ g.user['name'] }}</span></li> -->
                    <li class="nav-item h-100">
                        <div class="d-flex text-dark chat-message-avatar rounded-circle align-middle mb-0 text-center mx-1" style="width: 2rem; height: 2rem">
                          <i class="bi bi-person align-middle" style="font-size: 1rem; margin: auto;"></i>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Join Us</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
    </nav>


    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% block content %}
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endblock %}
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>


  <!-- Footer-->
  <footer class="py-5">
      <div class="container px-5"><p class="m-0 text-center text-dark">Copyright &copy; ConvAF 2022</p></div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  
</html>