{% extends 'base.html' %}

{% block header %}

<!-- Header-->
<header class="py-5">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-dark mb-2">A new way to learn languages</h1>
                  <p class="lead text-dark-50 mb-4">Meet Lingo, a friendly AI that you can talk to become fluent in your target language!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('auth.login') }}">Get Started</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

{% endblock %}

{% block content %}

 <!-- Features section-->
 <section class="py-5 border-bottom bg-light" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
              <h2 class="h4 fw-bolder">Chats</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Explore chats
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
              <h2 class="h4 fw-bolder">Learning Center</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Go to learning center
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
          <div class="col-lg-4">
              <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
              <h2 class="h4 fw-bolder">Feature 3</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Call to action
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
      </div>

  </div>

  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('auth.login') }}">Get Started</a>
  </div>
</section>

{% endblock %}