{% extends 'base.html' %}

{% block header %}

<!-- Header-->
<header class="py-5">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-dark mb-2">A new way to learn languages</h1>
                  <p class="lead text-dark-50 mb-4">Meet Nova, your smart AI language learning buddy you can talk to and become fluent in your target language!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('auth.login') }}">Get Started</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

{% endblock %}

{% block content %}

 <!-- Features section-->
 <section class="py-5 border-bottom bg-light" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature feature-icon bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-text"></i></div>
              <h2 class="h4 fw-bolder">Natural Conversations</h2>
              <p>Nova helps you become fluent by talking to her. You can choose between many scenarios or just get talking.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Explore chats
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature feature-icon bg-gradient text-white rounded-3 mb-3"><i class="bi bi-spellcheck"></i></div>
              <h2 class="h4 fw-bolder">Grammar Correction</h2>
              <p>Nobody is perfect! Nova keeps track of what you're struggling with and helps you improve your English.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Go to learning center
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
          <div class="col-lg-4">
              <div class="feature feature-icon bg-gradient text-white rounded-3 mb-3"><i class="bi bi-map"></i></div>
              <h2 class="h4 fw-bolder">Language Journey</h2>
              <p>Nova tracks your progress and always suggests the best next step to get you fluent in no time.</p>
              <!-- <a class="text-decoration-none" href="#!">
                  Call to action
                  <i class="bi bi-arrow-right"></i>
              </a> -->
          </div>
      </div>

  </div>

  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('auth.login') }}">Get Started</a>
  </div>
</section>

{% endblock %}