{% extends 'base.html' %}

{% block header %}

<header class="py-5">
  <div class="container px-5">
      
      <!-- Infographics -->
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-5 align-middle">
            <div class="text-left my-3">
              <h3 class="display-5 fw-bolder text-dark mb-2">Hi {{ g.user['name'] }}!</h3>
            </div>
              <div class="text-left my-2">
                  <p class="lead text-dark-50 mb-4">Looks like you're on fire:<br>You have a streak of 4 days 🔥<i class="bi bi-emoji-fire"></i><br>Keep it going!</p>                  
              </div>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-left">
                <a class="btn btn-outline-secondary btn-md px-4 me-sm-3" href="{{ url_for('dashboard.statistics') }}">Go to Learning Statistics</a>
              </div>
          </div>
          <div class="col-lg-7">
            {{ plot|safe }}
          </div>
      </div>

      <!-- Featured Chats -->
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-12 align-middle">
          <div class="text-left my-3">
            <h3 class="display-7 fw-bolder text-dark mb-4">Featured chats</h3>
          </div>
        </div>
      </div>
    
      <!-- Featured Chats Cards -->
      <div class="row gx-4 px-0 mb-3 justify-content-center">
        {% for prompt_key, prompt_data in featured_prompts.items() %} 
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="card chat-preview-card text-dark mb-3" style="max-width: 18rem;">
              <div class="card-header bg-{{ prompt_data['category'].replace('_', '-') }}-header bg-gradient">{{ prompt_data['category'].replace("_", " ") | title }}</div>
              <div class="card-body bg-{{ prompt_data['category'].replace('_', '-') }}-body bg-gradient">
                <h5 class="card-title">{{ prompt_data['label'] }}</h5>
                <p class="card-text">{{ prompt_data['description_short'] }}</p>
                <a href="{{ url_for('chat.chat', chat_scenario=prompt_key) }}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row gx-4 px-0 justify-content-center">
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <a class="btn btn-outline-secondary btn-md px-4 me-sm-3" href="{{ url_for('chat.overview') }}">See all chats</a>
        </div>
      </div>

        

  </div>
</header>



{% endblock %}